* {
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: none;
}

section {
  margin: 2rem 1rem;
}

section:first-child {
  margin-top: 7rem;
}

.lift-container {
  display: flex;
}

.liftButtons {
  margin-right: 2rem;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  margin: 1.5rem;
}

.liftButtons .button {
  display: block;
  margin: 1.5rem 0;
}

.lift-car {
  min-width: 75px;
  height: 125px;
  background-color: silver;
  margin: 0 2 rem;
}

.lift-car.move {
  transform: translateY(-200px);
  transition: transform ease-in-out 2.5s 0.5s;
}

.floor {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.floor-bottom {
  height: 2px;
  background-color: black;
  flex: auto;
}
